.container {
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paragraph {
  padding: 1rem;
}

.title {
  padding-bottom: 0.5rem;
}

.return {
  cursor: pointer;
  text-align: center;
  font-size: 0.95rem;
}
