.container {
  cursor: pointer;

  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.paragraph {
  cursor: pointer;

  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--grey-light);
    color: var(--black);
  }
}

.active {
  background-color: var(--grey-light);
}
