@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/animations.scss";

.container {
  position: relative;

  background-image: url("../../public/assets/banner.webp");
  background-size: 450%;
  background-position: 30% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;

  @include laptop {
    background-size: cover;
    min-height: 800px;
  }

  animation: fadeIn 0.5s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 40%;

  @include laptop {
    top: 55%;
    left: 5rem;
    transform: translateY(-75%);
    border: 2px solid var(--black);

    padding: 2rem;
  }
}

.title {
  line-height: 140%;

  @include laptop {
    font-size: 2.75rem;
  }
}

.subtitle {
  line-height: 140%;
  @include laptop {
    font-size: 1.8rem;
  }
}
