@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/animations.scss";

.container {
  position: relative;

  background-image: url("../../public/assets/banner.webp");
  background-size: 320%;
  background-position: 50% 20%;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 600px;

  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  @include laptop {
    background-size: fill;
    min-height: 800px;
    background-size: cover;
    background-position: 0 25%;
  }

  animation: fadeIn 0.5s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);

  @include laptop {
    position: absolute;
    margin-top: unset;
    border-radius: 1rem;

    top: 55%;
    left: 5rem;
    transform: translateY(-75%);

    padding: 2rem;
  }
}

.title {
  line-height: 140%;

  @include laptop {
    font-size: 2.75rem;
  }
}

.subtitle {
  line-height: 140%;
  @include laptop {
    font-size: 1.8rem;
  }
}
