@import "../../styles/helpers/animations.scss";
@import "../../styles/helpers/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  position: relative;
}

.button {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 1rem;
  color: white;
  opacity: 1;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 1.15rem;
  width: 100%;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid transparent;
  line-height: unset;

  background-color: var(--primary-color);
  font-weight: 700;

  &:hover {
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color) !important;
    opacity: 0.9;
  }

  &:active {
    transform: scale(1.025);
  }

  @include desktop {
    max-width: 15rem;
  }
}

.upper {
  position: absolute;
  top: -2.5rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.disabled {
  cursor: default !important;
  border: 1px solid var(--grey) !important;
  color: var(--grey) !important;

  &:hover {
    border: 1px solid var(--grey) !important;
    color: var(--grey) !important;
  }
}
