@keyframes bump {
  0%,
  93% {
    transform: scale(1);
  }
  97%,
  100% {
    transform: scale(1.05);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.975;
  }

  25% {
    opacity: 0;
    scale: 0.975;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slide-glitter {
  0%,
  93% {
    top: 150%;
    left: 150%;
  }
  97%,
  100% {
    top: -50%;
    left: -200%;
  }
}
