* {
  --black: #023a4c;
  --primary-color: #04a8b7;
  --primary-color-dark: #0394a1;
  --background-color: rgb(241, 246, 255);
  --mobile-menu-bg: rgb(241, 246, 255);
  --grey: #ced2da;
  --grey-light: #dfe3eb;
}
