* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul,
ol,
h3,
h2,
h1,
p,
h4,
textarea {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  letter-spacing: -0.5px;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
p,
span,
li,
div {
  cursor: default;
  list-style-type: none;
  line-height: 160%;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

button,
a,
textarea,
input {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

input,
textarea {
  cursor: text;
  line-height: unset;
}

body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  background-color: var(--grey-light);
  width: 0.75rem;
}

div::-webkit-scrollbar-track {
}

div::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  box-shadow: inset 0 0 0.33rem rgba(0, 0, 0, 0.1);
}
