.container {
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid var(--grey-light);
}
