.container {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  transform: translateY(-1rem);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  width: 100%;
  max-width: 20rem;
}

.button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  height: 60px;
  width: 100%;

  &:hover {
    background-color: var(--grey-light);
  }
}

.email_button {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.explanation {
  border: 1px solid var(--grey);
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}